body {
  font-family: sans-serif;
}

#form-autocomplete {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  position: relative;
  top: 20px;
}

#form-autocomplete .form-control {
  border-radius: 5px;
  border: 1px solid #ccc;
  display: flex;
  padding: 0 10px;
}

#form-autocomplete .input-search {
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
}

#form-autocomplete .btn-search {
  height: 40px;
  width: 40px;
  border: none;
  outline: none;
  cursor: pointer;
  background: #fff;
}

#form-autocomplete .form-control:has(.input-search:not(:focus)) + .autocomplete-results:not(:hover),
#form-autocomplete .form-control:has(.input-search:placeholder-shown) + .autocomplete-results,
#form-autocomplete .form-control:has(.input-search:focus) + .autocomplete-results:not(:has(li)) {
  display: none;
}

#form-autocomplete .autocomplete-results {
  position: absolute;
  width: 100%;
  background: #fff;
  border-radius: 5px;
  margin-top: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#form-autocomplete .autocomplete-results-list {
  list-style: none;
  padding: 0;
}

#form-autocomplete .autocomplete-results-list li {
  padding: 8px 20px;
  letter-spacing: 1px;
  font-weight: bold;
  transition: 0.2s;
}

#form-autocomplete .autocomplete-results-list li:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}
